<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>412285524807-cbdtb4utmg8q88ef949qd6cmr143t7i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412285524807-cbdtb4utmg8q88ef949qd6cmr143t7i1</string>
	<key>API_KEY</key>
	<string>AIzaSyAlKB2H7P7OEew-FqsRmHsnWBIQ2QlwXHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>412285524807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DrDunkan.Restaurant</string>
	<key>PROJECT_ID</key>
	<string>fir-database-5aa82</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-database-5aa82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:412285524807:ios:7ad01ecb8b87a16e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-database-5aa82.firebaseio.com</string>
</dict>
</plist>